@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// colors from https://clrs.cc/
$navy: #001f3f;
$blue: #0074d9;
$aqua: #7fdbff;
$teal: #39cccc;
$olive: #3d9970;
$green: #2ecc40;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$maroon: #85144b;
$pink: #f012be;
$purple: #b10dc9;
$black: #111111;
$gray: #aaaaaa;
$silver: #dddddd;
$white: #ffffff;
// Theme
$primary-color: $blue;
$secondary-color: $teal;
$default-color: $gray;
$success-color: $green;
$warning-color: $orange;
$error-color: $red;

$default-color-light: lighten($gray, 20%);
$default-color: $gray;
$default-color-dark: darken($gray, 40%);

$error-color-light: lighten($red, 30%);
$error-color: $red;
$error-color-dark: darken($red, 40%);
// Fonts
$font-roboto: "Roboto", sans-serif;
//misc
$default-radius: 3px;
