///////////////////
// Form Styles
///////////////////
$textSelectorMap: (
  selectorText: 'input[type="text"]',
  selectorEmail: 'input[type="email"]',
  selectorTel: 'input[type="tel"]',
  selectorUrl: 'input[type="url"]',
  selectorNumber: 'input[type="number"]',
  selectorSearch: 'input[type="search"]',
  selectorPass: 'input[type="password"]',
  selectorDate: 'input[type="date"]',
  selectorTime: 'input[type="time"]',
  selectorDTime: 'input[type="datetime-local"]',
  selectorWeek: 'input[type="week"]',
  selectorMonth: 'input[type="month"]',
  selectorSelect: "select",
  selectorTextarea: "textarea",
);

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector} {
    // Define top level style:
    // borders, colors, margins, etc
    &::placeholder {
    }
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:focus-visible {
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:disabled,
  #{$actualSelector}:read-only {

    &::placeholder {
    }
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:read-only {
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:invalid {

    &::placeholder {
    }
    &:focus-visible {
    }
  }
}

.form-control {

  label {
  }

  input {
  }

  .help-text,
  .error-text,
  .success-text {
    
  }

  input:valid ~ .hide-valid {
    &.help-text,
    &.error-text,
    &.success-text {
      // help text that is hidden when a sibling input is in a valid state
    }
  }

  .help-text {
  }

  .error-text {
  }

  .success-text {
  }
}


