///////////////////
// Form Styles
///////////////////
$textSelectorMap: (
  selectorText: 'input[type="text"]',
  selectorEmail: 'input[type="email"]',
  selectorTel: 'input[type="tel"]',
  selectorUrl: 'input[type="url"]',
  selectorNumber: 'input[type="number"]',
  selectorSearch: 'input[type="search"]',
  selectorPass: 'input[type="password"]',
  selectorDate: 'input[type="date"]',
  selectorTime: 'input[type="time"]',
  selectorDTime: 'input[type="datetime-local"]',
  selectorWeek: 'input[type="week"]',
  selectorMonth: 'input[type="month"]',
  selectorSelect: "select",
  selectorTextarea: "textarea",
);

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector} {
    border: 1px solid $default-color;
    border-radius: $default-radius;
    margin: 0 0 1em 0;
    padding: 10px;
    color: $text-dark;
    &::placeholder {
      color: $default-color;
    }
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:focus-visible {
    outline: 2px solid $primary-color;
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:disabled,
  #{$actualSelector}:read-only {
    background-color: $default-color-light;
    color: $default-color-dark;

    &::placeholder {
      color: $default-color-dark;
    }
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:read-only {
    background-color: $default-color-light;
    color: $text-dark;
  }
}

@each $selectorName, $actualSelector in $textSelectorMap {
  #{$actualSelector}:invalid {
    border: 1px solid $error-color;
    background-color: $error-color-light;

    &::placeholder {
      color: $error-color-dark;
    }
    &:focus-visible {
      outline: 2px solid $error-color-dark;
    }
  }
}
